# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
*.db
*.sqlite

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp